@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  padding: 3rem 9%;
}
/*............... Navbar....................... */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #f3edd4;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 9%;
}
.logo{
  width: 15vh;
}
.header .navbar a {
  font-size: 1.7rem;
  color: #666;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: #8BC746;
}
#menu-btn {
  display: none;
}
.header .icons div {
  font-size: 2.5rem;
  margin-left: 1.7rem;
  cursor: pointer;
  color: #666;
}

.header .icons div:hover {
  color: #8BC746;
}










/* Section1*/
.heading {
  background: url(/image/carousel1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 12rem;
  padding-bottom: 8rem;
  height: 70vh;
}
.heading h1{
  padding-top: 15rem;
  color: #FBEEBC;
  font-size: 7rem;
}
@-webkit-keyframes fadeLeft {
  0% {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
    opacity: 0;
  }
}

@keyframes fadeLeft {
  0% {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
    opacity: 0;
  }
}

@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes fadeUp {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
}


/* Section2 */

.about {
  padding-top: 14vh;
  padding-bottom: 14vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
  background-color: #021a08;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
  border-radius: 30px;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .content span {
  color: #8BC746;
  font-size: 4rem;
}

.about .content h3 {
  color: #222;
  font-size: 3rem;
  padding-top: .5rem;
}

.about .content p {
  color:white;
  font-size:2rem;
  line-height: 2;
  padding: 1rem 0;
}


.aboutt {
  padding-top: 14vh;
  padding-bottom: 14vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
  background-color: #f3edd4;
}

.aboutt .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.aboutt .image img {
  width: 100%;
  border-radius: 30px;
}

.aboutt .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.aboutt .content span {
  color: #8BC746;
  font-size: 4rem;
}

.aboutt .content h3 {
  color: #222;
  font-size: 3rem;
  padding-top: .5rem;
}

.aboutt .content p {
  color:#021a08;
  font-size:2rem;
  line-height: 2;
  padding: 1rem 0;
}
.aboutt .btn {
  margin-top: 1rem;
  display: inline-block;
  padding: .8rem 3rem;
  background: #8BC746;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
}
.aboutt .btn:hover {
  background: #222;
}




/* ..................Section3...................... */
.praises{
  padding-top: 14vh;
  padding-bottom: 14vh;
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
}
.support{
  display: flex;
}
.support i{
  font-size: 7vh;
  color: #8BC746;
}
.support h1{
  font-size: 2rem;
  color: #021a08;
}
.support p{
  padding-top: 3vh;
  font-size: 1.5rem;
  color: #021a08;
}


/* ..................Section4...................... */
.team h1{
  font-size: 4rem;
}
.team p{
  font-size: 2rem;
}
.team {
  background-color: #f3edd4;
  text-align: center;
  padding: 50px 0;
}
.team h1 {
  font-size: 36px;
  margin-bottom: 20px;
}
.team p {
  font-size: 18px;
  margin-bottom: 40px;
  line-height: 1.5;
}
.people {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.members {
  margin: 20px;
  width: 300px;
}
.members img {
  border-radius: 50%;
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  margin: auto;
}
.members h3 {
  font-size: 24px;
  margin: 10px 0;
}
.members h6 {
  font-size: 18px;
  color: #666;
  margin: 5px 0;
}






/* ..................Section5...................... */
.contact {
  padding-top: 14vh;
  padding-bottom: 14vh;
    }
.contact .icons-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(29rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1.5rem;
}

.contact .icons-container .icons {
  text-align: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  background-color: #021a08;
}

.contact .icons-container .icons i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  font-size: 2.5rem;
  background: #8BC746;
  color: #fff;
  border-radius: 50%;
}

.contact .icons-container .icons h3 {
  color: white;
  font-size: 2rem;
  padding: 1rem 0;
}

.contact .icons-container .icons p {
  color: white;
  font-size: 1.5rem;
  line-height: 2;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

.contact .row form {
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.contact .row form h3 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: #222;
}

.contact .row form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .row form .inputBox input {
  width: 49%;
}

.contact .row form .inputBox .box,
.contact .row form textarea {
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  color: #222;
  text-transform: none;
  margin: .7rem 0;
}

.contact .row form textarea {
  width: 100%;
  height: 15rem;
  resize: none;
}








/* ..................Section6...................... */
.footer {
background: #f3edd4;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #222;
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  color: #666;
  padding-bottom: .5rem;
}

.footer .box-container .box a {
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
  display: block;
}

.footer .box-container .box a:hover {
  color: #8BC746;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .box-container .box a i {
  padding-right: .5rem;
  color: #8BC746;
}
.footer .box-container .box form input[type="email"] {
  width: 100%;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #222;
  margin: 1rem 0;
  text-transform: none;
}



/* Footer */
.credit {
  text-align: center;
  background: #021a08;
  color: #fff;
  font-size: 2rem;
}